/* font-family: 'Dosis', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Noto Serif Display', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif; */

html,
body,
#react-root {
  height: 100%;
}

body {
  margin: 0px;
  background-color: #FFDBDB ;
}

img {
  display: inline-block;
  max-width: 100%;
}

html {
  font-size: 62.5% !important;
}


h1,
.h1{
  font-size: 4rem !important;
}
h2,
.h2{
  font-size: 3.5rem !important;
}
h3,
.h3{
  font-size: 2.5rem !important;
}
h4,
.h4{
  font-size: 2.25rem !important;
}
h5,
.h5{
  font-size: 2.125rem !important;
}

p, .p {
  font-size: 2rem !important;
  line-height: 1.6 !important;
}

.reading-container {
  max-width: 600px;
  margin: 0 auto;
}

.heading-label {
  display: block;
  margin-bottom: .5rem;
}


/* --------------------------------------------------------------------------------
MUI standardization
-------------------------------------------------------------------------------- */

.boxDefault {
  width: 98vw;
  margin: auto;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 15vh;
  position: relative;

}

.commentBox {
   margin: auto;
   padding-top: 10vh;
  max-width: 600px;
  width: 80vw
}

.bottomNav {
  background-color: #ffc9c9 ;
}

#allyx-logo {
  font-family: 'Noto Serif Display';
  font-size: 5rem !important;
  position: top;
  margin-left: 3vw;
  color: #ff897a; 
}

.card-header {
  font-size: 2rem;
}